<!DOCTYPE html>

<html>
    <head>
        <title>JobMap.io</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("../../../public/stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("../../../public/images/favicon.png")">
        <link rel=stylesheet href=//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css>
        <link rel=stylesheet href=//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css>
        <script src=//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js></script>
        <script src=//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js></script>
        <script src=//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/vendor/modernizr.js></script>

        @*<script src=//cdn.jsdelivr.net/livejs/4/live.js></script>*@

    </head>
    <body>
    <div class="container">
        <br>
        <div class="row">
            <div class="small-12 medium-11 large-8 medium-centered columns">
                <h1>Join the JobMap Waiting List</h1>
                <img src="https://gallery.mailchimp.com/00a7edd80e4ad36c64adec2f8/images/67353bba-3e7f-4a96-be87-a4cf1a9790d9.png">
                <br><br>
                <form method="post" action="@routes.Application.signUp()" id="form" data-abide>
                    <div>
                        <label>First name <small>required</small>
                            <input type="text" name="firstName" id="firstName" placeholder="First name" required/>
                        </label>
                        <small class="error">First name is required.</small>
                    </div>
                    <div>
                        <label>Last name <small>required</small>
                            <input type="text" name="lastName" id="lastName" placeholder="Last name" required/>
                        </label>
                        <small class="error">Last name is required.</small>
                    </div>
                    <div>
                        <label>Email address <small>required</small>
                            <input type="email" name="emailAddress" id="emailAddress" placeholder="Email" required/>
                        </label>
                        <small class="error">Please enter a valid email address.</small>
                    </div>
                    <button type="submit" id="submit">Subscribe to list</button>
                </form>

            </div>
        </div>
</div>


        <script>
            $(document).foundation()

            $("#submit").click(function(){
                $("#form").on('valid.fndtn.abide', function () {
                    $("#submit").prop("disabled",true);
                    $("#submit").html("<i class='fa fa-circle-o-notch fa-spin'></i>  Subscribing");
                });
            });

        </script>

</body>



