

@main {


    <div class="container">
        <div class="row">
            <div class="small-12 columns">
                <ul class="accordion" data-accordion>
                    <li class="accordion-navigation">
                        <a href="#panel1a">Hospital</a>
                        <div id="panel1a" class="content active">
                            <div class="row">
                                <div class="small-12 columns">
                                    <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" aira-autoclose="false">Type of Hospital</a>
                                    <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1" aira-autoclose="false">
                                        <li> <label><input type="checkbox"> Community</label></li>
                                        <li> <label><input type="checkbox"> Academic</label></li>
                                        <li> <label><input type="checkbox"> Trauma</label></li>
                                        <li> <label><input type="checkbox"> Inner city</label></li>
                                        <li> <label><input type="checkbox"> Suburban</label></li>
                                        <li> <label><input type="checkbox"> Rural</label></li>
                                    </ul>
                                </div>
                                <div class="small-12 columns">
                                    <a data-dropdown="drop2" aria-controls="drop1" aria-expanded="false" aira-autoclose="false">ED Volume</a>
                                    <ul id="drop2" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1" aira-autoclose="false">
                                        <li> <label><input type="checkbox"> < 20,000</label></li>
                                        <li> <label><input type="checkbox"> 20,000 - 40,000</label></li>
                                        <li> <label><input type="checkbox"> 40,000 - 60,000</label></li>
                                        <li> <label><input type="checkbox"> 60,000 +</label></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="accordion-navigation">
                        <a href="#panel2a">Group</a>
                        <div id="panel2a" class="content">
                            <div class="row">
                                <div class="small-12 columns">
                                    <a data-dropdown="drop3" aria-controls="drop3" aria-expanded="false" aira-autoclose="false">Type of Group</a>
                                    <ul id="drop3" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1" aira-autoclose="false">
                                        <li> <label><input type="checkbox"> Community</label></li>
                                        <li> <label><input type="checkbox"> Academic</label></li>
                                        <li> <label><input type="checkbox"> Trauma</label></li>
                                        <li> <label><input type="checkbox"> Inner city</label></li>
                                        <li> <label><input type="checkbox"> Suburban</label></li>
                                        <li> <label><input type="checkbox"> Rural</label></li>
                                    </ul>
                                </div>
                                <div class="small-12 columns">
                                    <a data-dropdown="drop4" aria-controls="drop4" aria-expanded="false" aira-autoclose="false">Choose a specific group</a>
                                    <ul id="drop4" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1" aira-autoclose="false">
                                        <li> <label><input type="checkbox"> Community</label></li>
                                        <li> <label><input type="checkbox"> Academic</label></li>
                                        <li> <label><input type="checkbox"> Trauma</label></li>
                                        <li> <label><input type="checkbox"> Inner city</label></li>
                                        <li> <label><input type="checkbox"> Suburban</label></li>
                                        <li> <label><input type="checkbox"> Rural</label></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="accordion-navigation">
                        <a href="#panel3a">Job</a>
                        <div id="panel3a" class="content">
                            <div class="row">
                                <div class="small-12 columns">
                                    <a data-dropdown="drop5" aria-controls="drop5" aria-expanded="false" aira-autoclose="false">Salary</a>
                                    <ul id="drop5" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1" aira-autoclose="false">
                                        <li> <label><input type="checkbox"> < $200K</label></li>
                                        <li> <label><input type="checkbox"> $200K - $250K</label></li>
                                        <li> <label><input type="checkbox"> $300K - $350K</label></li>
                                        <li> <label><input type="checkbox"> > $350K</label></li>
                                    </ul>
                                </div>
                                <div class="small-12 columns">
                                    <a data-dropdown="drop6" aria-controls="drop6" aria-expanded="false" aira-autoclose="false">Productivity-based pay</a>
                                    <ul id="drop6" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1" aira-autoclose="false">
                                        <li> <label><input type="checkbox"> None</label></li>
                                        <li> <label><input type="checkbox"> Partial</label></li>
                                        <li> <label><input type="checkbox"> Full</label></li>
                                    </ul>
                                </div>
                                <div class="small-12 columns">
                                    <a data-dropdown="drop7" aria-controls="drop7" aria-expanded="false" aira-autoclose="false">Other</a>
                                    <ul id="drop7" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1" aira-autoclose="false">
                                        <li> <label><input type="checkbox"> part time</label></li>
                                        <li> <label><input type="checkbox"> locum tenens</label></li>
                                        <li> <label><input type="checkbox"> independent contractor position</label></li>
                                        <li> <label><input type="checkbox"> employee position</label></li>
                                        <li> <label><input type="checkbox"> nights only</label></li>
                                        <li> <label><input type="checkbox"> no nights</label></li>
                                        <li> <label><input type="checkbox"> director or leadership position</label></li>
                                        <li> <label><input type="checkbox"> PTO offered</label></li>
                                        <li> <label><input type="checkbox"> Health benefits offered</label></li>
                                        <li> <label><input type="checkbox"> Fellowship position</label></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="accordion-navigation">
                        <a href="#panel4a">Community</a>
                        <div id="panel4a" class="content">
                            <div class="row">
                                <div class="small-12 columns">
                                    <a data-dropdown="drop8" aria-controls="drop8" aria-expanded="false" aira-autoclose="false">Median household income</a>
                                    <ul id="drop8" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1" aira-autoclose="false">
                                        <li> <label><input type="checkbox"> < $50K</label></li>
                                        <li> <label><input type="checkbox"> $50K - $75K</label></li>
                                        <li> <label><input type="checkbox"> $75K - $100K</label></li>
                                        <li> <label><input type="checkbox"> > $100K</label></li>
                                    </ul>
                                </div>
                                <div class="small-12 columns">
                                    <a data-dropdown="drop9" aria-controls="drop9" aria-expanded="false" aira-autoclose="false">Cost of living index</a>
                                    <ul id="drop9" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1" aira-autoclose="false">
                                        <li> <label><input type="checkbox"> < 90</label></li>
                                        <li> <label><input type="checkbox"> 90 - 100</label></li>
                                        <li> <label><input type="checkbox"> 100 - 110</label></li>
                                        <li> <label><input type="checkbox"> > 110</label></li>
                                    </ul>
                                </div>
                                <div class="small-12 columns">
                                    <a data-dropdown="drop10" aria-controls="drop10" aria-expanded="false" aira-autoclose="false">Public school rankings (coming soon)</a>

                                </div>

                            </div>
                        </div>
                    </li>
                </ul>

            </div>


        </div>

        <br>
        <div class="row">
            <div class="small-centered small-8 columns">
                <button class="button button success">Search</button>
            </div>
        </div>
</div>












}
